<a ui-sref="main.loginpage">log in</a> <br />
<a attach-click-handler="google" onclick="processSocialMedia('google', 'register');">register by google+</a><br />
<a onclick="processSocialMedia('twitter', 'register');">register by Twitter</a><br />

<fb:login-button parse-fb-on-fly scope="public_profile,email" onlogin="processSocialMedia('facebook', 'register');">
</fb:login-button>

<div class="registration-form" ng-class="{show_errors: registerFormShowErrors}">
<form method="post" class="form-controls" name="registrationform">
    <get-geolocation assign-to="registration_extra.location" message-share-location="Please share your location" message-thank-you="thank you for sharing location"></get-geolocation>
    <div class="sub-row">
        <label>First name</label>
        <div class="ctrl">
            <input type="text" required error-label="Please enter valid first name" name="first_name" ng-model="registration.first_name" placeholder="First name">
        </div>
    </div>
    <div class="sub-row">
        <label>Last name</label>
        <div class="ctrl">
            <div class="error-label" error-element="{'default': 'test22', required: 'is required'}" for-name="last_name"></div>
            <input type="text" required name="last_name" ng-model="registration.last_name" placeholder="Last name">
        </div>
    </div>
    <div class="sub-row">
        <label>Email</label>
        <div class="ctrl">
            <div class="error-label" error-element="{'default': 'test22', required: 'is required'}" for-name="email"></div>
            <input type="email" required name="email" ng-model="registration.email" placeholder="Email">
        </div>
    </div>
    <div class="sub-row">
        <label>Phone no</label>
        <div class="ctrl">
            <input type="text" name="phone_number" ng-model="registration.phone_number" placeholder="Phone">
        </div>
    </div>
    <div class="sub-row">
        <label>Password</label>
        <div class="ctrl">
            <div class="error-label" error-element="{'default': 'wrong value', minlength: 'password is too short', required: 'this field is required'}" for-name="password"></div>
            <input type="password" ng-minlength="8" required="required" name="password" ng-model="registration.password" placeholder="Password">
        </div>
    </div>
    <div class="sub-row">
        <label>Confirm password</label>
        <div class="ctrl">
            
            <div class="error-label" error-element="{notmatch: 'passwords do not match'}" for-name="confirm_pwd"></div>
            <input type="password" name="confirm_pwd" valid-condition="{notmatch: registration.password && registration_extra.confirm_password != registration.password}" ng-model="registration_extra.confirm_password" placeholder="Confirm password">
        </div>
    </div>
    <div class="sub-row">
        <label><input type="checkbox" name="privacy" ng-model="registration_extra.privacy"> make it public</label>
    </div>
    <div class="sub-row">
        <a class="btn btn-default" ng-class="{disabled: registrationInProgress}" ng-click="registrationInProgress || registerUser()">Register</a>
    </div>
</form>
</div>

