<create-main-slider></create-main-slider>
<div class="row socials-box show-sm">
  <div class="col col-1_5 socials-box">
    <div class="newsletter-signup js-copy-content" data-copy_from=".copy-src.newsletter-signup">
    </div>
  </div>
</div>
<div class="row trends">

  <div class="col col-4_5 overlay-spacer-top">
    <div class="overlay-border">
      <h4 class="label"><span class="mid">Trends for Alex</span> <span class="mid"><a class="menu-type with-label">Nearby</a></span></h4>
    </div>
    <ul class="item-list irregular has-overlay">
      <li class="double-size">
        <div class="img dyn-fit-image"><img alt="" src="/static/img/trend4alex1.jpg"></div>
        <div class="overlay">
          <div class="hlgh-content">
            <h5 class="card-label col2">Explorers</h5>
            <div class="description">
              <h4>Alaska Native Wonders Why President Obama is In Her State - And She May Have a Very Good Reason</h4>
              <p>On Sunday President Obama renamed Mount McKinley in Alaska to Denali</p>
            </div>
            <div class="read-more">
              <a href="#">Read more</a>
            </div>
          </div>
        </div>
      </li>
      <li class="small">
        <div class="img dyn-fit-image"><img alt="" src="/static/img/trends_2.jpg"></div>
        <div class="overlay">
          <div class="hlgh-content">
            <h5 class="card-label col3">Travel</h5>
            <div class="description">
              <h4>Aurora Theater Shooting May Have Been Stopped?</h4>
              <p>A New Report Revals What Campus Police Knew...</p>
            </div>
          </div>
        </div>
      </li>
      <li class="small last">
        <div class="img dyn-fit-image"><img alt="" src="/static/img/trends_3.jpg"></div>
        <div class="overlay">
          <div class="hlgh-content">
            <h5 class="card-label col2">Travel</h5>
            <div class="description">
              <h4>App That Lets You Take A Selfie With Rand Paul</h4>
              <p>The Internet Proves Why That Was A Bad Idea</p>
            </div>
          </div>
        </div>
      </li>
      <li class="small">
        <div class="img dyn-fit-image"><img alt="" src="/static/img/trends_4.jpg"></div>
        <div class="overlay">
          <div class="hlgh-content">
            <h5 class="card-label col1">Travel</h5>
            <div class="description">
              <h4>Taylor Swift Video Set In Africa</h4>
              <p>What's Strikingly Missing Has People Talking</p>
            </div>
          </div>
        </div>
      </li>
      <li class="double-size">
        <div class="img dyn-fit-image"><img alt="" src="/static/img/trends_5.jpg"></div>
        <div class="overlay">
          <div class="hlgh-content">
            <h5 class="card-label col3">Travel</h5>
            <div class="description">
              <h4>Controversial Accusations Are Being Leveled at 'The Donald' - And This Time It Involves His Golf Game</h4>
              <p>Donald Trump has been magnificently successful in business</p>
            </div>
            <div class="read-more">
              <a href="#">Read more</a>
            </div>
          </div>
        </div>
      </li>
      <li class="small last">
        <div class="img dyn-fit-image"><img alt="" src="/static/img/trends_6.jpg"></div>
        <div class="overlay">
          <div class="hlgh-content">
            <h5 class="card-label col3">Travel</h5>
            <div class="description">
              <h4>Megyn Kelly's Response to 'Black Lives Matter'</h4>
              <p>Activist Had Viewers Calling it 'A Thing of Beauty'</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col col-1_5 overlay-spacer-top">
    <div class="social-media-box like-us-fb-box">
      <div class="wrapper">
        <div class="ico"><a href="#"><img alt="Like us" src="/static/images/fb_like.png"></a></div>
        <strong>Like Us On Facebook!</strong>
      </div>
    </div>
  </div>
</div>
<div class="row latest-news socials-box hide-sm">
  <div class="col col-1_5 socials-box">
    <div class="copy-src newsletter-signup">
      <h5>Newsletter Signup</h5>
      <p class="description">
        Enter Your Email Address To Sign-Up And Receive Exclusive News, And More.
      </p>
      <p class="controlls">
        <input type="email" placeholder="Email Address">
        <span class="button"><a href="#"><i class="fa fa-envelope-o"></i></a></span>
      </p>
      
    </div>
    <div class="social-media-box like-us-sm-box hide-sm">
      <div class="brand twitter">
        <span class="brand-ico"><i class="fa fa-twitter"></i></span>
        <span class="nr">72,700</span>
        <span class="label">Followers</span>
      </div>
      <div class="brand facebook">
        <span class="brand-ico"><i class="fa fa-facebook"></i></span>
        <span class="nr">396,197</span>
        <span class="label">Likes</span>
      </div>
    </div>

  </div>
  <div class="col col-4_5 latest-news">
    <div class="content">
      <div class="head">
        <h6>Latest News Continued</h6>
      </div>
      <div class="card-news">
        <ul>
          <li>
            <h5 class="card-label col3">Explorers</h5>
            <h3><a href="#">Controversial Accusations Are Being Leveled at 'The Donald' - And This Time It Involves His Golf Game</a></h3>
            <p>Donald Trump has been magnificently successful in business</p>
          </li>
          <li>
            <h5 class="card-label col1">Explorers</h5>
            <h3><a href="#">Unsettling Eye-Witness Reports Surfacing About Josh Duggar's 'Stay' in Rehab</a></h3>
            <p>'The Family's private plane took a mystery trip on August 27...'</p>
          </li>
          <li>
            <h5 class="card-label col2">Explorers</h5>
            <h3><a href="#">Megyn Kelly's Response to 'Black Lives Matter'</a></h3>
            <p>Activist Had Viewers Calling it 'A Thing of Beauty'</p>
          </li>
          <li>
            <h5 class="card-label col1">Explorers</h5>
            <h3><a href="#">Alaska Native Wonders Why President Obama is In Her State - And She May Have a Very Good Reason</a></h3>
            <p>On Sunday President Obama renamed Mount McKinley in Alaska to Denali</p>
          </li>
          <li>
            <h5 class="card-label col3">Explorers</h5>
            <h3><a href="#">Controversial Accusations Are Being Leveled at 'The Donald' - And This Time It Involves His Golf Game</a></h3>
            <p>Donald Trump has been magnificently successful in business</p>
          </li>
          <li>
            <h5 class="card-label col1">Explorers</h5>
            <h3><a href="#">Unsettling Eye-Witness Reports Surfacing About Josh Duggar's 'Stay' in Rehab</a></h3>
            <p>'The Family's private plane took a mystery trip on August 27...'</p>
          </li>
        </ul>
      </div>
      <div class="short-news">
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
          <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
          <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
        </ul>
      </div>
      <div class="button-load-more">
        <a href="#">Load More</a>
      </div>
    </div>  
  </div>
</div>
<div id="trending-ij-lift-editors-pick" class="trending-ij-lift editors-pick" style="background-image: url('/static/img/trending-ij-lift.jpg');">
  <div class="row">
    <div class="col col-1_5 overlay-spacer-top editors-pick-col hide-sm newsletter">
      <div class="newsletter-signup col4">
        <h5>IJ. Lift Newsletter Signup</h5>
        <p class="description">
          Enter Your Email Address To Sign-Up And Receive Exclusive News, And More.
        </p>
        <p class="controlls">
          <input type="email" placeholder="Email Address">
          <span class="button"><a href="#"><i class="fa fa-envelope-o"></i></a></span>
        </p>
      </div>
      <ul class="item-list irregular">
        <li class="bookmark bookmark-red editors-pick-box">
          <div class="overlay">
            <div class="hlgh-content">
              <h5>Editor Pick</h5>
              <div class="img dyn-fit-image"><img alt="" src="/static/img/editor_pick.jpg"></div>
              <ol class="items">
                <li class="distinguished">
                  <h6>Nature</h6>
                  <p>Pictures: 10 Green-Tech City Solutions for Beating the Heat
                </li>
                <li>
                  <h6>Explorers</h6>
                  <p>Pictures: 10 Green-Tech City Solutions for Beating the Heat
                </li>
                <li>
                  <h6>Travel</h6>
                  <p>Pictures: 10 Green-Tech City Solutions for Beating the Heat
                </li>
                <li>
                  <h6>Science</h6>
                  <p>Pictures: 10 Green-Tech City Solutions for Beating the Heat
                </li>
              </ol>
              <div class="read-more"><a href="#">More</a></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col col-4_5 pic-items overlay-spacer-top">
      <div class="overlay-border left-edge on-pict">
        <hr dir="ltr"><hr dir="rtl">
        <h4 class="label"><span class="mid">Trending <span class="hide-sm">Now </span>On IJ.Lift</span> <span class="mid"><a class="menu-type col4"></a></span></h4>
      </div>
      <ul class="item-list irregular has-overlay">
        <li class="double-height-width">
          <div class="img dyn-fit-image"><img alt="" src="/static/img/ij_lift_1.jpg"></div>
          <div class="overlay">
            <div class="hlgh-content">
              <h5 class="card-label col2">Explorers</h5>
              <div class="description">
                <h4>Dad Recreates Touching Photos with His Daughter After Tragically Losing His Wife the Year Before</h4>
                <p>In 2013, the life of Rafael Del Col changed forever after his wife, Tatiane, died in a car accident. He was heartbroken and alone with their 2-year-old daughter, Raisinha.</p>
              </div>
              <div class="read-more">
                <a href="#">Read more</a>
              </div>
            </div>
          </div>
        </li>
        <li class="small">
          <div class="img dyn-fit-image"><img alt="" src="/static/img/ij_lift_2.jpg"></div>
          <div class="overlay">
            <div class="hlgh-content">
              <h5 class="card-label col4">Travel</h5>
              <div class="description">
                <h4>Aurora Theater Shooting May Have Been Stopped?</h4>
                <p>A New Report Revals What Campus Police Knew...</p>
              </div>
            </div>
          </div>
        </li>
        <li class="small">
          <div class="img dyn-fit-image"><img alt="" src="/static/img/ij_lift_3.jpg"></div>
          <div class="overlay">
            <div class="hlgh-content">
              <h5 class="card-label col4">Travel</h5>
              <div class="description">
                <h4>Aurora Theater Shooting May Have Been Stopped?</h4>
                <p>A New Report Revals What Campus Police Knew...</p>
              </div>
            </div>
          </div>
        </li>
        <li class="small">
          <div class="img dyn-fit-image"><img alt="" src="/static/img/ij_lift_4.jpg"></div>
          <div class="overlay">
            <div class="hlgh-content">
              <h5 class="card-label col4">Travel</h5>
              <div class="description">
                <h4>Aurora Theater Shooting May Have Been Stopped?</h4>
                <p>A New Report Revals What Campus Police Knew...</p>
              </div>
            </div>
          </div>
        </li>
        <li class="small">
          <div class="img dyn-fit-image"><img alt="" src="/static/img/ij_lift_5.jpg"></div>
          <div class="overlay">
            <div class="hlgh-content">
              <h5 class="card-label col4">Travel</h5>
              <div class="description">
                <h4>Aurora Theater Shooting May Have Been Stopped?</h4>
                <p>A New Report Revals What Campus Police Knew...</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row show-sm">
    <div class="col col-1_5 newsletter">
      <div class="js-copy-content newsletter-signup col4" data-copy_from=".hide-sm.newsletter .newsletter-signup">
      </div>
    </div>
  </div>
  <div class="row ij-lift-read-more">
      <div class="read-more col col-5_5 col4">
          <a href="#">More From IJ.Lift</a>
      </div>
  </div>
</div>
