<div class="footer">
  <div class="item copyright">
    <p class="logo-box">
      <span class="txt">Independed Journal</span>
    </p>
    <p class="info">
    &copy;2014 IJ.com <br />
    All right reserved
    </p>
  </div>
  <div class="item tags">
    <h6>tags</h6>
    <ul class="tag-list">
      <li ng-repeat="tag in footerTags">
        <a ng-href="{! tag.url !}" ng-bind="tag.name">Travel</a>
      </li>
    </ul>
  </div>
  <div class="item follow-us">
    <h6>Follow us</h6>
    <ul class="socials">
      <li><a href="#"><span class="i"><i class="fa fa-facebook"></i></span> Facebook</a></li>
      <li><a href="#"><span class="i"><i class="fa fa-twitter"></i></span> Twitter</a></li>
      <li><a href="#"><span class="i"><i class="fa fa-instagram"></i></span> Instagram</a></li>
      <li><a href="#"><span class="i"><i class="fa fa-rss"></i></span> RSS</a></li>
    </ul>
  </div>
  <div class="item newsletter">
    <h6>Newsletter Sugnup</h6>
    <p class="description">
      Enter Your Email Address To Sign-Up And Receive Exclusive News, And More.
    </p>
    <p class="controlls">
      <input type="email" placeholder="Email Address">
      <span class="button"><a href="#"><i class="fa fa-envelope-o"></i></a></span>
    </p>
    
  </div>
</div>
